</head>
<body>
	<h1 style="color:red">Ma'lumotlarni kiriting</h1>
	<hr>
    <form action="Dars4.html">
    	<label>Ismi</label>
    	<input type="text" name="" required="" minlength="3" maxlength="5">
    	<br>
    	<label>Familiyasi</label>
    	<input type="text" name="" required="">
    	<br>
    	<label>Otasini ismi</label>
    	<input type="text" name="" required="">
    	<br>
    	<label>Tel numer</label>
    	<input type="tel" name="" required="[0-9]{13}" placeholder="+99801234567">
    	<br>
        <label>Pasport seriyasi</label>
        <input type="text" name="" required="" placeholder="AA">
        <br>
        <label>Pasport raqami</label>
        <input type="numer" name="" required="" placeholder="000000">
        <br>
        <<label>Parol</label>
        <input type="password" name="" required="">
    	<label>Fayl yuklang</label>
    	<input type="file" accept=".pdf" name="" required="">
    	<br>
    	<hr>
    	<button>Yuborish</button>

    </form>
</body>
</html>