body{
	background-color: black;
}
.table, th, td {
			border-collapse: collapse;
			border-radius: 10px;
		}
#one{
	background-color: black;
	color: red;
}
#two{
	background-color: brown;
	color: #f2f2f2;
}
#three{
	background-color: green;
	color: yellow;
}
#four{
	background-color: yellow;
	color: green;
}